
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --body-bg:lightgray ;
  --colors: black;
  --hero__items-color :aliceblue;
  --site-header-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --text-shadow:0 0 5px rgb(7, 7, 7);
  --hover-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.mode{
  --body-bg: black;
  --colors: lightgray;
  --hero__items-color :rgb(156, 161, 167);
  --site-header-box-shadow: rgba(250, 245, 245, 0.993) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  body{
    font-family: sans-serif;
    background-color: var(--body-bg);
  }
.container {
  max-inline-size: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}
/* dark mode  */


.dark-mode{
  color: white;
  background-color: #373737;
}


.site-header{
  padding: 15px 0;
  box-shadow:var(--site-header-box-shadow);
  position: sticky;
  top: 0px;
  background-color: var(--body-bg);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header__logo-link{
  font-size: 35px;
  font-weight: bold;
  color: var(--colors);
  text-shadow:var(--text-shadow) ;
}
.header__mode-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__mode-btn{
  width: 70px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.header__mode-btn:hover{
  box-shadow: var(--site-header-box-shadow);
}
.header__like-btn, .header__basket-btn{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.header__like-btn:hover{
  box-shadow: var(--site-header-box-shadow);
}
.header__basket-btn:hover{
  box-shadow:  var(--site-header-box-shadow);
}

/* hero-section start */

.hero{
  padding-top: 40px;
}
.hero__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__input-search, .hero__select{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.hero__countries{
 padding:  50px 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.hero__item-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__item{
  background-color: var(--hero__items-color);
  width: 350px;
  border-radius: 10px;
  padding: 10px;

}
.hero__item:hover{
  box-shadow:  var(--site-header-box-shadow);
}
.hero__like-btn, .hero__basket-btn, .hero__more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.hero__like-btn, .hero__basket-btn, .hero__more-btn:hover{

  cursor: pointer;
}

.modal-wrapper{
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.modal{
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: rgb(199, 196, 196);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.open-modal{
  display: block;
}
.modal__img-wrapper{
 width:  59%;
}
.modal__img-wrapper > .modal-img{
  height: 100%;
}
.modal__text-wrapper{
  text-align: center;
  width: 38%;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
}
.like {
  background-color: red;
  color: white;
}
.BasketOn{
  background-color: blue;
}
.header__add-country{
  padding: 9px;
  border-radius: 10px ;
  border: none;
  font-weight: bold;
  font-size: 17px;
  background-color: teal;
  color: white;
  cursor: pointer;
  width: 80px;
}
.header__add-country:hover{
  box-shadow: var(--site-header-box-shadow);
}
.hero__basic-content{
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__delete-btn, .hero__update-btn{
height: 25px;
width: 35px;
}